In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_excel("publish/data/P1-Golden.xlsx")

In [8]:
df.head()

                                             reviews  Judgement
0  Well done Microsoft!! OneNote is a fantastic p...          1
1  This works on a limited basis.  Works well for...          1
2  This app was great for the first month or two....          1
3  I can't update it in my phone it takes way too...          1
4                                Why is it so big?!!          1

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df["reviews"], df["Judgement"], test_size=0.2, random_state=0)

In [14]:
X_train.to_csv("data/original_data_X_train.csv", index=None)
y_train.to_csv("data/original_data_y_train.csv", index=None)
X_test.to_csv("data/original_data_X_test.csv", index=None)
y_test.to_csv("data/original_data_y_test.csv", index=None)